header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
    margin: 0px;
}
header h3{
    display: block;
    margin-left: 200px;
    font-size: 25px;
}
.menu{
    font-family: 'Cairo', sans-serif;
    display: block;
    margin: 0px 170px 0px 0px;
   
}
.menu ul,
.menu ol{
    list-style: none;
}
.menu ul{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.menu ul li a{
    display: block;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 30px 15px 30px;
}
.menu li a:hover{
    border-bottom:4px solid #e8bf5d ;
}

.front_page{
    background-image: url(../Img/Adam_su.png);
    margin-top: 10px;
    height: 840px;
    display: flex;
    /* align-items: center; */
}
.con_btn{
    width: 180px;
    height: 55px;
    background-color: #e8bf5d;
    border: none;
    border-radius: 25px;
    position: relative;
    margin-top: 635px;
    margin: 635px 0px 120px 410px;
}
.con_btn:hover{
    cursor: pointer;
}
.front{
    border-left:2px solid #e8bf5d; 
    flex-direction: column;
    display: inline-block;
    color: #ffffff; 
    position: relative;
    margin:610px 0px 120px 410px;

    padding-left: 20px;
    padding-top: 22px;
    padding-bottom: -5px;
    
}
.front p1{
    line-height: 1.8em;
}
.first{
    height: 540px;
    margin: 30px 300px 0px 350px;
    position: relative;
    
}
.first_text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.history{
    width: 50%;
}


.about_us{
    width: 800px;
    border-left: 3px solid #e8bf5d ;
}
.about_us h2{
    padding: 0px 0px 0px 25px;
    margin-top: 0px;
    
}
.about_us p{
    padding: 0px 0px 0px 25px;
    margin-top: 0px;
}
.years{
    margin: 20px 0px 10px 0px;
    display: flex;
    width: 100%;
    
}
.years h3{
    padding:5px 0px 0px 0px;
    width: 20%;
}
.years p3{
    margin-left: 20px;
    padding: 10px 0px 0px 15px;
    line-height: 1em;
}
.expertise{
    width: 40%;
    padding: 0px 0px 0px 30px;
}
.first_num{
    color: #f3f3f3;
    font-family: 'Cairo', sans-serif;
    position: absolute;
    display: block;
    top: 0px;
    left: 30px;
    line-height: 0px;
    opacity: 0.1;
}
.second{
    height: 750px;
    background-color: #111111; 
}
.second_area{
    margin: 0px 350px 0px 350px;
    position: relative;
    padding-top: 20px;
}
.second .about_us{
    color: white;
    margin-top: 35px;   
}
.second_text_icon{
    display: flex;
    width: 40%;
    justify-content: flex-end;
    color: white;
    margin: 0px 0px 0px 80px;   
}
.second_text_icon p{
   padding: 0px 30px 0px 30px;
}
.second_text_icon img{
    height: min-content;

   padding-top: 35px;   
}
.second_text{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
}
.second_area .first_num{
    padding-top:40px;
}
.third{
    height: 720px;
}
.third .about_us{
    margin-top: 35px;  
}
.face_total{
    display: flex;
    margin-top:40px ;
}
.face{
    margin: 20px 20px 20px 0px;
}
.fourth{
    height: 750px;
    background-image:url(/Img/background_04.png);
    
}
.fourth .about_us{
    margin-top: 35px;  
}
.boy_smile{
    
    position: relative;
    z-index: 1;
    width: 40%;
}
.gold_box{
    height: 300px ;
    width: 370px;
    border: none;
    background: #e8bf5d;
    z-index: -1;
    position: absolute;
    top: 20px;
    left: 20px;
    
}
.practice{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: space-between;
}
.practice_text{
    margin: 0;
    color: white;
    padding: 0px 0px 0px 30px;
    position: relative;
    width: 55%;

}

.practice_text p{
    padding-bottom: 30px;
}
.practice_text::before{
    content: "\201C"; 
    font-family: serif;
    position: absolute;
    left: -29px;
    top: 5px;
    color: #535251;
    font-size: 80px;
    
}
.slide{
   display: flex;
   justify-content: center;
   align-items: center;
    margin-top: 30px;
   
}
.slide:first-of-type{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.slide input{
     
    appearance: none;  

  border-radius: 50%;
  width: 16px;
  height: 16px;

   border: 2px solid #999; 
   transition: 0.2s all linear; 
     margin-right: 5px; 

  position: relative;
  top: 4px;
}
.slide input:checked {
     border: 10px solid white; 
  }