header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
    margin: 0px;
}
header h3{
    display: block;
    margin-left: 200px; 
    font-size: 25px;
}
.bur{
     display: none; 

}
.menu{
    font-family: 'Cairo', sans-serif;
     display: block; 
    margin: 0px 170px 0px 0px; 
}
.menu ul,
.menu ol{
    list-style: none;
}
.menu > ul{
    display: flex;
}
.lol{
    display: flex;
    list-style: none;
}

.menu li a{
    display: block;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 30px 15px 30px;  
    
}
.menu > i{
    /* visibility: hidden; */
    /* width: 0%; */
    display: none;
}


.menu li a:hover{
    border-bottom: 4px solid #e8bf5d ;
    padding: 15px 30px 11px 30px;
}

.front_page{
    background-image: url(../Img/Adam_su.png);
     /* background-size:100%  auto;  */
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    height: 840px;
    max-height: 840px;
    display: flex;
     align-items: flex-end; 
    justify-content: space-between;
    position: relative;
    /* margin: 0px 350px 0px 350px; */
    
}
.contact_btn{
    justify-content: flex-end;
}
.con_btn{
    width: 180px;
    height: 55px;
    background-color: #e8bf5d;
    border: none;
    border-radius: 25px;
    margin-right: 200px;
    margin-bottom: 80px;
}
.con_btn:hover{
    cursor: pointer;
    background-color: wheat;
}

.front{
    border-left:2px solid #e8bf5d; 
    color: #ffffff; 
    width: 50%;
    display: block;
    margin: 0px 0px 60px 400px;
}
.front > h2{
    font-size: 72px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.front > p{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px
    ;font-family: 'Cairo', sans-serif;
    line-height: 0.8em;
}

.first{ 
        
        max-height: 100%;
        margin: 30px 300px 0px 350px;
        position: relative;
    }
.first .about_us > p{
    color:#666666;}
.first_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}
.history{
    width: 50%;
}
.history > h3{
    font-size: 26px;
}
.history .years > h3{
    font-size: 26px;
}
.history .years > p3{
    font-size:18px ;
    font-family: 'Cairo', sans-serif; 
}
.first_text .expertise  h3{
    font-size:26px ;
     
}
.first_text .expertise > p{
    font-size:15px ;
    font-family: 'Cairo', sans-serif; 
}
.about_us{
   
    border-left: 3px solid #e8bf5d ;
}
.about_us h2{
    padding: 0px 0px 0px 25px;
    margin-top: 0px;
    font-size: 37px;
    
}
.about_us p{
    padding: 0px 0px 0px 25px;
    margin-top: 0px;
    font-size: 26px;
}
.years{
    margin: 20px 0px 10px 0px;
    display: flex;
    width: 100%;
    
}
.years h3{
    margin: 5px 0px 5px 5px;
    padding:10px 0px 0px 0px;
    width: 20%;
    letter-spacing: 2px;
    display: inline-block;
    
}
.years p3{
    width: 80%;
    padding: 10px 0px 0px 15px;
    line-height: 1em;
    text-align:inherit;
}
.expertise{
    width: 45%;
    padding: 0px 0px 0px 30px;
}
.first_num{
    color: #f3f3f3;
    font-family: 'Cairo', sans-serif;
    position: absolute;
    display: block;
    top: 0px;
    left: 30px;
    line-height: 0px;
    opacity: 0.1;
    
}

.second{ 
    max-height: 100%;
    background-color: #111111;   
}
.second_area{
    margin: 0px 350px 0px 350px;
    position: relative;
    padding-top: 20px;
}
.second .about_us{
    color: white;
    margin-top: 35px;   
   
}
.second .about_us > p{
    color:#b9b9b9;}
.second_text_icon{
    display: flex;
    width: 44%;
    justify-content: flex-end;
    color: white;
    margin: 0px 0px 0px 50px;   
}
.second_text_hp{
    padding-left: 20px;
}
.second_text_hp > h1{
    margin: 0px;
    font-size: 25px;
     line-height: 2.5em;
     margin-top: 20px;
}

.second_text_hp > p1{
    margin: 0px;
    font-size:15px;
    font-family: 'Cairo', sans-serif; 
  
}
.second_text_icon img{
height: min-content;
   padding-top: 35px;   
}
.second_text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding-bottom:50px ;
}
.second_area .first_num{
    padding-top:40px;
}
.third{
   max-height: 100%;
}
.third .about_us{
    margin-top: 35px;  
}
.third .about_us > p{
    color: #666666;}
.face_total{
    display: flex;
    margin-top:40px ;
    
}
.face{
    margin: 20px 20px 20px 0px;
}
.face > img{
    width: 100%;
}
.face_text{
    padding-bottom: 60px;
    width: 25%;
    margin: 0px 0px 20px 0px;
}
.face_text > h2{
    font-size: 25px;
    margin: 0px;
    
}
.face_text > p3{
    font-size:14px ;
    font-family: 'Cairo', sans-serif;
    margin: 0px;
}

.fourth{
    max-height: 100%;
    background-image:url(/Img/background_04.png);
    background-position: center;
    /* background-repeat: no-repeat; */
    
    
}
.fourth .about_us{
    margin-top: 35px;  
}
.fourth .about_us > h2{
    color: white;
}
.fourth .about_us > p{
    color: #b9b9b9;}
.boy_smile{
    
    position: relative;
   
    width: 50%;
}
.boy_smile img{
    box-shadow: 12px 12px 2px 1px #e8bf5d;
}

.practice{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: space-between;
}
.practice_text{
    margin: 0;
    color: white;
    padding: 0px 0px 0px 30px;
    position: relative;
    width: 55%;

}

.practice_text > p{
    padding-bottom: 30px;
    font-size:15px ;
    font-family: 'Cairo', sans-serif;
    margin: 0px;
}
.practice_text > p1{font-size: 30px;}
.practice_text > p2{font-size:23px ;}
.practice_text::before{
    content: "\201C"; 
    font-family: serif;
    position: absolute;
    left: -29px;
    top: 5px;
    color: #535251;
    font-size: 80px;
    
}
.slide{
   display: flex;
   justify-content: center;
   align-items: center;
    margin-top: 30px;
    padding-bottom: 60px;
   
}
.slide:first-of-type{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.slide input{
     
    appearance: none;  

  border-radius: 50%;
  width: 16px;
  height: 16px;

   border: 2px solid #999; 
   transition: 0.2s all linear; 
     margin-right: 5px; 

  position: relative;
  top: 4px;
}
.slide input:checked {
     border: 10px solid white; 
  }
.fifth{
    max-height: 100%;
    
}
.fifth_img img{
   width: 100%;
   
}
.fifth .about_us{
    margin-top: 35px;  
}
.fifth .about_us > p{
    color: #666666;
}
.fifth_text{
    /* flex-wrap: wrap; */
    display: block;
    width: 30%;
    padding: 20px 20px 70px 0px;
}
.fifth_text > p{
    font-size: 25px;
}
.fifth_text > p1{
    font-size:16px ;
    font-family: 'Cairo', sans-serif; 
    
}
.fifth_total{
    width: 100%;
    display: flex; 
    margin-top: 50px;
    flex-wrap: wrap;
    
}
.lrtext {
    width: 100%;
    border-spacing: 0;
    padding-bottom: 20px;
}
.lrtext td {
    width: 50%; 
    vertical-align: top;
    font-size:16px;
    font-family: 'Cairo', sans-serif; 
}
td.rtext{
    text-align: right;
    font-size:14px ;
    font-family: 'Cairo', sans-serif; 
    font-style: italic;
}

.comments ul,
.comments ol{
    list-style: none;
}
.comments ul{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px; 
    border-bottom: 3px solid #e8bf5d
}

.comments ul li a{
    display: block;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 0px 15px 0px;  
   
}
.sixth{
    max-height: 100%;
    background-color: #111111;
}
.sixth .about_us{
    margin-top: 35px;  
}
.sixth .about_us > h2{
    color: white;
    margin-top: 35px;  
}
.sixth .about_us > p{
    color: #b9b9b9;
}
.sixth_total ul li a{
    color: white;
    font-size: 19px;
    font-weight: bold;
}
.sixth_total ul li a:hover{
    color: #e8bf5d;
}
.sixth_total{
    width: 55%;
    
}
.six_gold_box{
    width: 40%;
    background-color: #e8bf5d;
    padding: 30px 30px 30px 30px;
    margin-left:30px ;
    line-height: 1.8em;
}
.six{
    display: flex;
    margin-top: 100px;
    padding-bottom: 100px;
}
.seventh{
    max-height: 100%;
}

.mail_text input{
    border: none;
    width: 100%;
    font-style: italic;
    border-bottom: 1px solid #b9b9b9;
     height: 20px;  
     margin-top: 10px;
    
    
}
.mail_text1 input{
    /* vertical-align: top; */
    border: none;
     width: 100%; 
    font-style: italic;
    border-bottom: 1px solid #b9b9b9;
    height: 70px;
}
.mail_text input:focus::-webkit-input-placeholder {color: transparent}
.mail_text1 input:focus::-webkit-input-placeholder {color: transparent}


.seven{
    display: flex;
    width: 70%;
    justify-content: flex-end;
    margin-top: 50px;
    /* border:1px solid black; */
    margin-left: 150px;
    box-shadow: 5px 5px 5px 5px #f3f3f3;
    margin-bottom: 50px;

}

.seven_box{
    display: block;
    padding: 0px 20px 0px 50px;
    padding-top: 80px;
   
    width: 50%;
}
.seven_btn{
        width: 180px;
        height: 55px;
        background-color: #e8bf5d;
        border: none;
        border-radius: 25px;
        position: relative;
        font: bold;
        bottom: 0px;
        margin-top: 100px;
        margin-bottom: 20px;
 }
.seven_btn:hover{
        cursor: pointer;
        background-color: wheat;
 }
.map{ 
        position: relative;
        z-index: 1;
        width: 50%;
}
.gold_box1{
    size: 100%;
    height: 370px ;
    width: 370px;
    border: none;
    background: #e8bf5d;
    z-index: -1;
    position: absolute;
    top: 15px;
    right: -170px;
}
.seven_map{
    padding: 20px 30px 0px 30px;
}
.seventh .about_us{
    margin-top: 35px;  
}
.seventh .about_us > p{
    color: #666666;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111111;
}
footer h3{
    display: block;
    margin-left: 350px;
    font-size: 25px;
}
.fotmenu{
    font-family: 'Cairo', sans-serif;
    display: block;
    margin: 0px 350px 0px 0px;
   
}
.fotmenu ul,
.fotmenu ol{
    list-style: none;
}
.fotmenu ul{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px; 
}

.fotmenu ul li a{
    display: block;
    text-transform: uppercase;
    color: whitesmoke;
    text-decoration: none;
    font-size: 22px;
    padding: 5px 10px 5px 10px;
  
}
.fotmenu ul li a:hover{
    color: #e8bf5d;
}


@media all and (max-width:1550px){
        .menu{
        font-family: 'Cairo', sans-serif;
        display: block;
        margin: 0px 50px 0px 0px; 
        }
        .menu ul li a{
            padding: 10px 8px 10px 8px;
        }
        .menu li a:hover{
            border-bottom: 4px solid #e8bf5d ;
            padding: 10px 8px 6px 10px;
        }

        .front > h2{
            font-size: 45px;
        }
        .front > p{
             font-size: 35px;
        }
        .front{
            margin: 0px 0px 70px 400px;
        }
        .second_area{
            margin: 0px 175px 0px 175px;
            position: relative;
            padding-top: 20px;
        }
        .first{ 
                max-height: 100%;
                margin: 30px 175px 0px 175px;
                position: relative;
        }
        .second_text{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
            padding-bottom:50px ;
        }
        .second_text_icon{
            display: flex;
            width: 40%;
            justify-content: flex-end;
            color: white;
            margin: 0px 0px 0px 40px;   
        }
        .second_text_icon p{
           padding: 0px 15px 0px 15px;
        }
        .second_text_icon img{
            height: min-content;
        
           padding-top: 35px;   
        }
        .face_total{
            display: flex;
            margin-top:40px ;
            flex-wrap: wrap;
           margin-bottom: 40px;
        }
        
        .face_text{
            text-align: center;
            width: 50%;
            margin: 0px 0px 20px 0px;
            padding-bottom: 0px;
        }
        .face{
            margin: 0px;
        }
       
}


@media all and (max-width:1150px){
        header h3{
        margin: 25px 0px 25px 50px;
        font-size: 25px; 
        }
        .front{
            margin: 0px 0px 70px 150px;
        }
        
        .second_area{
            margin: 0px 90px 0px 90px;
            position: relative;
            padding-top: 20px;
    }
        .first{ 
    
        max-height: 100%;
        margin: 30px 90px 0px 90px;
        position: relative;
    }
        .second_text{
        display: flex;
        flex-wrap:wrap;
        justify-content: flex-start;
        position: relative;
        padding-bottom:50px ;
    }
    .face_total{
        display: flex;
        margin-top:40px ;
        flex-wrap: wrap;
       margin-bottom: 40px;
    }
    
    .face_text{
        text-align: center;
        width: 50%;
        margin: 0px 0px 20px 0px;
        padding-bottom: 0px;
    }
    .practice_text::before{
        display: none;
        content: "\201C"; 
        font-family: serif;
        position: absolute;
        left: -29px;
        top: 5px;
        color: #535251;
        font-size: 80px;
        
    }
    footer h3{
        margin: 25px 0px 25px 50px;
        font-size: 25px; 
        }
    .fotmenu{
        margin: 0px 175px 0px 0px;
    }

}
@media all and (max-width:1000px){
    
    .menu > ul{
        display: none;
    }
    .menu li a:hover{
        border-bottom: 4px solid #e8bf5d ;
        padding: 15px 30px 11px 30px;
    }
    
    .dropdown {
       
        position: relative;
        display: inline-block;
      }
    .bur{
        display: block;
        width: 170px;
        height: 75px;
        margin-top: 10px;
       
        border:none ;
        border-radius: 15px;
        background-color:#e8bf5d ;
    }
    .lol {
        display: none; 
        flex-direction: column;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-bottom: 0px;
      }
      .lol a {
        color: black;
        border-bottom: 0px;
        text-decoration: none;
        display: block;
        
      }
     

    .lol a:hover {background-color: #ddd; }
    .dropdown:hover .lol {display: block;}
    .dropdown:hover .bur {background-color: wheat;}
    
    .front{
        margin: 0px 0px 70px 70px;
    }
    .second_text{
        flex-wrap: wrap;
    }
    .second_text_icon{
        width: 100%;
    }
    .practice_text{
        margin: 0;
        color: white;
        padding: 0px 0px 0px 30px;
        position: relative;
        width: 55%;
        text-align: center;
    
    }
    .practice_text::before{
       display: block;
        content: "\201C"; 
        font-family: serif;
        position: absolute;
        left: -29px;
        top: 5px;
        color: #535251;
        font-size: 80px;
    }
    .practice{
        display: flex;
        flex-direction: row;
        margin-top: 80px;
        justify-content: space-between;
        flex-wrap: wrap;
       margin-left: 90px;
    }
    .boy_smile{
    
        position: relative;
        z-index: 1;
        width: 100%;
       justify-content: center;
    }
    .slide {
        padding-right: 120px;
    }
    .fifth_text{
        /* flex-wrap: wrap; */
        display: block;
        width: 46%;
        padding: 20px 20px 70px 0px;
    }
    .sixth_total{
        width: 100%;
        
    }
    .six_gold_box{
        width: 100%;
        background-color: #e8bf5d;
        padding: 30px 30px 30px 30px;
        margin: 50px 10px 20px 10px;
        line-height: 1.8em;
    }
    .six{
        flex-wrap: wrap;
        display: flex;
        margin-top: 100px;
        padding-bottom: 100px;
    }
    .seven{
        display: flex;
        flex-wrap: wrap-reverse;

        width: 70%;
        justify-content: center;
        margin-top: 50px;
        /* border:1px solid black; */
        margin-left: 100px;
        box-shadow: 5px 5px 5px 5px #f3f3f3;
        margin-bottom: 50px;
    
    }
    .seven_box{
        display: block;
        padding: 0px 20px 0px 0px;
        padding-top: 40px;
       margin: 50px 10px 50px 10px;
        width: 70%;
    }
    .seven_btn{
        margin-top:40px ;
    }
    .first_num img{
        width: 140px;
        height: 90px;
    }
    
    
}
@media all and (max-width: 800px){
     
   

    .fifth_text{
        /* flex-wrap: wrap; */
        display: block;
        width: 100%;
        padding: 0px 20px 40px 20px;
        
    }
    .fifth_img img{
        width: 100%;
        padding: 10px 20px 20px 20px;
     }
}
@media all and (max-width: 750px){
   .con_btn{
       margin: 0px 100px 80px 100px;}
       
    .front > h2{
        font-size: 35px;
    }
    .front > p{
         font-size: 25px;
    }
    .face_text{
        text-align: center;
        width: 100%;
        margin: 0px 0px 20px 0px;
        padding-bottom: 0px;
    }
     .first_text{ 
         display: flex;
        flex-direction: column;
    }
    .history{
        width: 100%;
        padding-bottom: 25px;
    }
    .expertise{
        width: 100%;
        padding: 0px;
    }
}